.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* justify-content: center */
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

fieldset {
  /* display: inline-flex; */
  /* align-content: space-around; */
}

td, th {
border: 1px solid grey;
margin: 0px;
padding: 4px 3px;
text-align: center;
}

input:invalid {
  border: 1px dashed red;
}

/* fieldset, table {
  width: 100%;
  margin: auto;
  float: left;
} */

button {
  border-radius: 10px;
  padding: 15px;
  background: lightseagreen;
  border: 3px ridge gray;
  cursor: pointer;
}

button:hover {
  background: #e46161;
  
}

tr:last-child {
  font-weight: bold;
  border: 3px ridge #201212;
}

td:first-child {
  color: blue;
}